<app-navbar></app-navbar>
<body>
<form class="login">
  
    <form class="signup"  #myForm="ngForm" (ngSubmit)="submitForm()">
       <h1>Register</h1>
       
       <mat-form-field class="example-full-width">
          <mat-label for="Email">Email</mat-label>
          <input matInput placeholder="GGGG@Gmail.com" type="email" id="Email" name="Email" [(ngModel)]="Email" required>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label for="Password">Password</mat-label>
          <input matInput placeholder="&nbsp;" type="password" id="Password" name="Password" [(ngModel)]="Password" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label for="Firstname">Firstname</mat-label>
            <input matInput placeholder=" " type="text" id="Firstname" name="Firstname" [(ngModel)]="Firstname" required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label for="Lastname">Lastname</mat-label>
            <input matInput placeholder=" " type="text" id="Lastname" name="Lastname" [(ngModel)]="Lastname" required>
          </mat-form-field>
        <section>
          <div class="example-button-row">
            <button type="submit" class="bt1" mat-flat-button color="#344" [disabled]="!myForm.form.valid">Submit</button>
          </div>
        </section>
    </form>
    
 </form>
</body>
